 	/*ROADTRIP BEGIN PAGE STYLING*/
/*************************************************/	
	#roadtrip-begin-page{
		border: 1px solid black;
		min-height: auto;
		max-height: auto;
		width: 100%;
		background-image: 
			linear-gradient(rgba(237,240,218,0.4), rgba(237,240,218,0.2)),
			url(resources/hero-image.jpeg);
		background-size: cover;
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
	}

	#roadtrip-title{
		color: #D1457F;
		text-align: center;
	}

	.roadtrip-title-min{
		background-color: #EDF0DA
	}
	/*FORM STYLING*/
	/*************************************************/
		input, label {
			display: block;
			text-align: left;
		}

		input {
			height: 50px;
			font-size: 16px;
			width: 90%;
			background-color: rgba(237,240,218,0.7);
  			border: none;
  			border-bottom: solid 2px #c9c9c9;
  			transition: border 0.3s;
		}

		label{
			color: #333333;
			font-size: 18px;
		}

		#form-title{
			text-align: center;
			font-size: 22px;
		}

		#start-date{
			width: 107%;
		}

		.roadtrip-inputs{
			width: 100%;
			margin: 0;
		}

		.roadtrip-inputs{
			margin-left: auto;
			margin-right: auto;
		}

		#form-submit-container{
			margin-top: 5%;
		}

		#js-form-submit{
			position: relative;
			background-color: #D1457F;
			text-align: center;
			width: 100%
			font-size: 20px;
			color: #FFFFFF;
			margin-left: auto;
			margin-right: auto;
		}

		.dest-nav-button {
			margin-top: 30px;
			position: relative;
			height: 48px;
		}

		.js-destination{
			width: 110%;
		}

		#start-add-button{
			margin-left: 8%;
		}

		.js-addDest{
			position: absolute;
			right: 5%;
			background-color: #A3C3D9;
		}

		.js-removeDest{
			position: absolute;
			left: 0;
			background-color: #A3C3D9;
		}
	/*************************************************/

/*************************************************/




		/*EVENTS CSS*/
/*************************************************/
	.total-event-container{ /*holds all html for each event instance*/
		border: 1px solid black;
		width: 100%;
		height: auto;
		margin-top: 5%;
	}

	.logo-container{
		width: 100%;
		height: 100%;
		position: relative;
		border: 1px solid black;
	}

	.event-description-container{
	  overflow: auto;
	  height: 150px;
	  line-height: 1.2em;
	  width: 100%;
	  padding: 5px;
	}

	.logo-container .event-logo{
		position: relative;
	    width: 100%;
	    height: 100%;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	.information-container{
		padding: 0;
	}

	.pac-container{ /*targets google's autocomplete dropdown*/
		width: 75% !important;
	}
/*************************************************/



	/*MAPS CSS*/
/*************************************************/
	iframe{
		width: 100%;
		height: 450px;
	}
/*************************************************/


.hidden{
	display: none;
}