body{
	font-family: 'Raleway', sans-serif;
}

/*Mobile CSS Rules*/

 	/*ROADTRIP BEGIN PAGE STYLING*/
/*************************************************/	
	#begin-page-container{
		width: 100%;
		background-image: 
			linear-gradient(rgba(237,240,218,0.4), rgba(237,240,218,0.2)),
			url(resources/hero-image.jpeg);
		background-size: cover;
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		display: table;
	}

	#roadtrip-begin-page{
		display: table-cell;
		vertical-align: middle;
  	}

	#title-form-container{
		background-color: rgba(255,255,255,0.6);
		border-radius: 15px;
	}

	#roadtrip-title{
		color: #DB5461;
		text-align: center;
		font-family: 'Inknut Antiqua', serif
	}

	.roadtrip-title-min{
		background-color: #EDF0DA
	}

	.begin-page-height-full{
		min-height: 100vh;
	}

	.begin-page-height-auto{
		min-height: auto;
	}

	/*FORM STYLING*/
	/*************************************************/
		input, label {
			display: block;
			text-align: left;
		}

		input {
			height: 50px;
			font-size: 16px;
			width: 90%;
			background-color: transparent;
  			border: none;
  			border-bottom: dotted 2px #333333;
  			transition: border 0.3s;
		}

		label{
			color: #333333;
			font-size: 18px;
			font-weight: normal;
		}

		.pac-container{ /*targets google's autocomplete dropdown*/
			width: 75% !important;
		}

		#destination-form{
			margin-top: 10%;
		}

		.dest-container{
			margin-top: 2%;
		}
		
		#form-title{
			text-align: center;
			font-size: 22px;
		}

		#start-date{
			width: 100%;
			font-size: 14px;
		}

		.roadtrip-inputs{
			width: 100%;
			margin: 0;
		}

		.roadtrip-inputs{
			margin-left: auto;
			margin-right: auto;
		}

		#form-submit-container{
			margin-top: 5%;
		}

		#js-form-submit{
			position: relative;
			background-color: #DB5461;
			text-align: center;
			width: 80%;
			font-size: 1.5em;
			color: #FFFFFF;
			margin-left: auto;
			margin-right: auto;
			border-radius: 8px;
			margin-bottom: 2%;
		}

		.dest-nav-button {
			margin-top: 30px;
			position: relative;
			height: 48px;
			right: 16px;
		}

		.js-destination{
			width: 110%;
		}

		.js-addDest{
			position: absolute;
			right: 5%;
			background-color: #A3C3D9;
		}

		.js-removeDest{
			position: absolute;
			left: 0;
			background-color: #A3C3D9;
		}

	/*************************************************/
/*************************************************/

	/*Nav Bar*/
/*************************************************/
	#results-nav{
		margin-bottom: 1%; 
	}

	#nav-brand-title{
		color: white;
		font-variant: small-caps;
		font-family: 'Inknut Antiqua', serif;
	}

	.navbar-header{
		background-color: #DB5461;
		position: relative;
	}

	.navbar-btn{
		position: absolute;
		right: 5%;
		background-color: #A3C3D9;
		color: white;
	}
/*************************************************/

	/*Leg Information*/
/*************************************************/
	#leg-title-container{
		margin-top: 1%;
		width: 100%;
		background-color: #2892D7;
		margin-bottom: 2%;

	}

	#leg-title{
		color: white;
		text-align: center;
		font-variant: small-caps;
		width: 100%;
		font-size: 20px;

	}

	.bold{
		font-weight: bold;
	}
/*************************************************/

	/*MAPS CSS*/
/*************************************************/
	iframe{
		width: 100%;
		height: 450px;
	}

	.directions-card{
		width: auto !important;
	}
/*************************************************/


	/*Leg Nav Buttons CSS*/
/*************************************************/
	.leg-nav-btn{
		background-color: #A3C3D9;
	}

	#leg-nav-btn-container{
		position: relative;
		width: 100%;
		height: 37px;
	}

	#prev-leg-button{
		position: absolute;
		left: 5%;
	}

	#next-leg-button{
		position: absolute;
		right: 5%;
	}
/*************************************************/


	/*Events Title Information*/
/*************************************************/
	#event-title-container{ /*styles the div that starts the events section*/
		margin-top: 1%;
		width: 100%;
		background-color: #2892D7;

	}

	#event-title{
		color: white;
		text-align: center;
		font-variant: small-caps;
		width: 100%;
		font-size: 20px;

	}
/*************************************************/

	/*Event Data*/
/*************************************************/
	#results{ /*contains leg info, leg nav section, event-title section, and event-holder section*/
		color: white;
	}

	.event-holder{ /*holds all of the events*/
		/*no style for mobile*/
	}

	.total-event-container{ /*holds all html for each event instance*/
		height: auto;
		margin-top: 10%;
	}

	.event-title-container { /*styles the event title */
		font-size: 20px;
		text-align: center;
		background-color: #DB5461;
		margin-bottom: 2%;
		border-radius: 12px 12px 0 0;
		font-family: 'Inknut Antiqua', serif;
	}

	.event-container{ /*holds information for the logo, info, and dateTime*/
		/*no style for mobile*/
	}

	.logo-container{ /*holds the logo image*/
		width: 100%;
		height: 100%;
		position: relative;
		margin-bottom: 2%
	}

	.event-logo{ /*styles the event-logo*/
	    width: 100%;
	    height: 100%;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	.information-container{ /*holds the event description container*/
		padding-right: 15px;
		padding-left: 15px;
	}
	.event-description-container{ /*holdes event description text */
	  overflow: hidden;
	  height: 140px;
	  line-height: 2.2em;
	  font-size: 16px;
	  background-color: #2892D7;
	  text-align: center;
	}

	.info-link{
		text-align: center;
		font-size: 16px;
		margin-top: 2%;
		vertical-align: center;
	}

	.date-time-cost-container{ /*the container that holds both the cost and date time*/
		padding-right: 30px;
		padding-left: 30px;
		font-size: 18px;	
	}

	.cost-container{ /*holds the cost of the event*/
		background-color: #DB5461;
		text-align: left;
		border-radius: 0 0 0 5px;
	}

	.date-time-container{ /*holds the date time of the event*/
		background-color: #DB5461;
		text-align: right;
		border-radius: 0 0 5px 0;
	}
/*************************************************/

	/*Event Nav Button*/
/*************************************************/
	.event-nav-btn{
		background-color: #A3C3D9;
	}

	#event-nav-btn-container{
		position: relative;
		width: 100%;
		height: 37px;
		margin-top: 3%;
		margin-bottom: 3%;
	}

	#prev-events-button{
		position: absolute;
		left: 5%;
	}

	#next-events-button{
		position: absolute;
		right: 5%;
	}
/*************************************************/

.hidden{
	display: none;
}

@media (min-width: 700px) {

		/*FORM STYLING*/
	/*************************************************/
		input, label {
			display: block;
			text-align: left;
		}

		input {
			height: 50px;
			font-size: 16px;
			width: 90%;
			background-color: rgba(255,255,255,0.6);
  			border: none;
  			border-bottom: solid 2px rgba(255,255,255,0.08);
  			transition: border 0.3s;
		}

		label{
			color: #333333;
			font-size: 18px;
			font-weight: normal;
		}

		.pac-container{ /*targets google's autocomplete dropdown*/
			width: 75% !important;
		}

		#destination-form{
			margin-top: 10%;
		}

		.dest-container{
			margin-top: 2%;
		}
		
		#form-title{
			text-align: center;
			font-size: 22px;
		}

		#start-date{
			width: 100%;
		}

		.roadtrip-inputs{
			width: 100%;
			margin: 0;
		}

		.roadtrip-inputs{
			margin-left: auto;
			margin-right: auto;
		}

		#form-submit-container{
			margin-top: 5%;
		}

		#js-form-submit{
			position: relative;
			background-color: #DB5461;
			text-align: center;
			width: 80%;
			font-size: 1.5em;
			color: #FFFFFF;
			margin-left: auto;
			margin-right: auto;
		}

		.dest-nav-button {
			margin-top: 30px;
			position: relative;
			height: 48px;
		}

		.js-destination{
			width: 100%;
		}
	/*************************************************/

		/*Nav Bar*/
/*************************************************/
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
	#results-nav{
		margin-bottom: 1%; 
	}

	.navbar-brand{
		margin-right: 1%;
	}
	.navbar-header{
		background-color: #DB5461;
		position: relative;
		width: 100%
	}

	.navbar-btn{
		position: absolute;
		right: 5%;
	}
/*************************************************/

		/*MAPS CSS*/
/*************************************************/
	iframe{
		width: 75%;
		height: 450px;
		display: block;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2%;
	}

	.directions-card{
		width: auto !important;
	}
/*************************************************/

		/*Event Data*/
/*************************************************/
	#results{ /*contains leg info, leg nav section, event-title section, and event-holder section*/
		/*no style for desktop*/
	}

	.event-holder{ /*holds all of the events*/
		/*no style for desktop*/
	}

	.total-event-container{ /*holds all html for each event instance*/
		height: auto;
		margin-top: 6%;
	}

	.event-title-container { /*styles the event title */
		font-size: 20px;
		text-align: center;
		background-color: #DB5461;
		margin-bottom: 2%;
		border-radius: 12px 12px 0 0;
		overflow: hidden;
		height: 32px;
	}

	.event-container{ /*holds information for the logo, info, and dateTime*/
		/*no style for desktop*/
	}

	.logo-container{ /*holds the logo image*/
		/*no style for desktop*/
	}

	.event-logo{ /*styles the event-logo*/
		/*no style for desktop*/
	}

	.information-container{ /*holds the event description container*/
		/*no style for desktop*/
	}

	.event-description-container{ /*holdes event description text */
	  overflow: hidden;
	  height: 140px;
	  line-height: 2.2em;
	  font-size: 16px;
	  background-color: #2892D7;
	  text-align: center;
	}

	.date-time-cost-container{ /*the container that holds both the cost and date time*/
		/*no style for desktop*/
	}

	.cost-container{ /*holds the cost of the event*/
		/*no style for desktop*/
	}

	.date-time-container{ /*holds the date time of the event*/
		/*no style for desktop*/
	}
/*************************************************

}

